/* CSS declarations go here */
body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
/*    background-color: slategrey;*/
}

.navbar-justin{
/*
    background-color: black;
    border-color: dimgrey;
*/
}

.navbar-default{
    background-color: rgba(0,0,0,0);
    border-color: rgba(105,105,105,0);
}

.justin-Titletext{
    color: gold !important;
}

.justin-Titlefix{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.justin-Navfix{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.justin-windowsize{
    background-image: url('/img/back.jpg');
    transform: translateZ(0px);
    background-position: top left;
}

.navbar-brand{
    padding: 11px 15px;
}

.container{
    height: 100%;
}



.intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
}

.intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    z-index: 3;
}

.intro-text .intro-heading {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    z-index: 3;
}

@media(min-width:768px) {
    .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    .intro-text .intro-heading {
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}
